@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "SUSE", sans-serif;
        height: 100%;
    }
    body {
      height: 100%;
    }

    #root {
      height: 100%;
    }

    
}

@layer components {
    /* For WebKit browsers (Chrome, Safari) */
    .todayTimesContentContainer::-webkit-scrollbar {
        display: none; /* Hide scrollbar */
    }

    /* For Firefox */
    .todayTimesContentContainer {
        scrollbar-width: none; /* Hide scrollbar */
    }
    
    /* For Internet Explorer and Edge */
    .todayTimesContentContainer {
    -ms-overflow-style: none; /* Hide scrollbar */
    }

    .loader {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        display: inline-block;
        border-top: 3px solid rgb(255, 102, 0);
        border-right: 3px solid transparent;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
      }

      .mainLoader {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: inline-block;
        border-top: 3px solid rgb(255, 102, 0);
        border-right: 3px solid transparent;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
      }

      @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      } 


      .suggestionsListElement:last-of-type {
        border: none;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }

}